body {
    background-color: #112955;
}

.permissions-container, .footer, .header {
    background-image: url("http://206.189.148.65/dashboard/assets/images/MMIOT_White.png") !important;
}

.wrapper {
    padding: 2rem 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 400px;
    border-radius: 10px;
}

#auth-form input[type=submit] {
    border-radius: 4px;
}