body {
    background-color: #BBBEC4;
}

.permissions-container, .footer {
    display: none;
}

.wrapper {
    padding: 2rem 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 400px;
    border-radius: 10px;
}